<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
      <h1>Consent</h1>
        <!--<form action="/login" method="POST">-->
        <form action="<%= consentEndpoint %>" method="POST">
            <fieldset>
              <h3>Consent</h3>
              <button type ="submit">Submit</button>
            </fieldset>
           </form>
    </body>
</html>