<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
      <h1>Register</h1>
        <form action="/register" method="POST">
            <fieldset>
              <h3>Register an account</h3>
              <label>Email</label>
              <input type ="text" id = 'email' name="email" required>
              <br><br>
              <label>Password</label>
              <input type="password" id = "password" name="password" required>
              <br><br>
              <button type ="submit">Submit</button>
            </fieldset>
           </form>
    </body>
</html>